<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ng-inject-loader example</title>
  </head>
  <body>
    <p>What's your name? <input ng-model="name"></p>
    <greeting name="{{ name }}" ng-if="name"></greeting>
  </body>
</html>
